* {font-family: roboto;}
ul {list-style: none;}
p {margin: auto;}
h4 {margin: auto;}
body {display: flex; flex-direction: column;}
#social-links {display: flex;}
#header {background-color: #00358E; 
         color: #FFFFFF; padding-bottom: 10px;}
.head {display: flex;
       list-style:none;
       justify-content: center;margin: auto;}
.head-btn {display: flex; justify-content: flex-end;}
#profile-img {height: 150px; 
              border-radius: 50%; 
              margin-top: -100px; margin-left: 20%;}
#sections {list-style: none; 
           justify-content: space-between; 
           display: flex;}
.info-data{border-color: #a4a4d5; 
            padding-left: 20px; 
            border-bottom-style: solid; 
            padding-bottom: 10px;}
.info-data h1 {margin: auto; color: #00358E;}
#titles-list{margin: auto; padding: 0px;}         
#titles-list h4{margin: auto;}
#info-flex{display: flex; justify-content: space-between;}


nav { background-color: #d9d9d9;}
footer {color: #FFFFFF; }

