* {font-family: roboto;}
ul {list-style: none;}
#social-links {display: flex;}
#header {background-color: #00358E; 
    color: #FFFFFF;}
    .head {display: flex;
        list-style:none;
        margin: auto;}