* {font-family: roboto;}
.info-data {padding: 16px;}
#social-links {display: flex; list-style:none;}
#header {background-color: #00358E; color: #FFFFFF; }
.head {display: flex; list-style:none; justify-content: space-between;margin: auto;}
.head-btn {display: flex; justify-content: flex-end;}

footer {color: #FFFFFF; }

/* 
.tarjeta{
    border-radius: 35px;
    margin: 10px;
    padding: 20px;
    border-color: blue;
}
*/