<div class="container" id="footer">    
    <div class="d-flex flex-row">
        <div class="col-5">
            <p class="fs-6 btn active">Realizado por -BlaCat- de Pacci Pablo</p>
        </div>
        <div class="col-2">
            <p class="fs-6" style="text-align: right;">Informacion de contacto-></p>
        </div>
        <div class="col-6 ">
            <div class="justify-content-start">
                <ul id="social-links">
                    <li><a href="www.facebook.com">
                            <button class="btn btn-primary" >Face</button>
                        </a>
                    </li>
                    <li><a href="www.instagram.com">
                            <button class="btn btn-primary">Instagram</button>
                        </a>
                    </li>
                    <li><a href="www.linkedin.com">
                            <button class="btn btn-primary">Linkedin</button>
                        </a>
                    </li>
                    <li><a href="www.github.com">
                            <button class="btn btn-primary">Github</button>
                        </a>
                    </li>
                    <li><a href="www.gmail.com">
                            <button class="btn btn-primary">Mail</button>
                        </a>
                    </li>
                </ul>
            </div>                 
        </div>        
    </div>    
</div>