
<div>    
    <div class="container" >
        <div class="card row">
        <div class="ban-img">
        <img [src]="dataPortfolio.urlbanner"></div>       
        <div class="col-6 ">
            <img id="profile-img" [src]="dataPortfolio.urlfoto" alt="foto">
        </div>
        </div>   
        <div class="card">
            <div class="row">
                <article class="card bg-light border-secondary col-4">
                    <div>                           
                        <p class="fs-1 centrado">{{dataPortfolio.nombre}} {{dataPortfolio.apellido}}</p>                     
                        <div class="card" style="text-align: center; margin-bottom: 1rem;">
                            <ul class="fs-5 centrado" id="titles-list">
                                <li *ngFor="let titulos of dataTitulos">
                                    <p>{{titulos.nombre}}</p></li>                                
                            </ul>
                        </div>
                    </div>  
                </article>
                <article class="card bg-light border-secondary col-8">
                    <div class="card centrado" id="data-ext" style="margin: 4%;">
                        <p class="fs-5 fw-bold lista">Acerca de:</p>
                        <p class="fs-6">{{dataPortfolio.acercaDe}}</p>
                    </div>
                </article>
            </div>
        </div>
    </div>  
</div>