<div class="container card bg-light border-secondary">    
    <div><p class="fs-3">Experiencia</p></div>        
    <div class="centrado">            
        <article class="card">
            <div class="row">
                <div class="col-3 card centrado"><p></p></div>
                <div class="col-9 card centrado">                    
                    <ul>
                        <li>
                            <div class="lista">
                            <p>Año 2016 - Actualidad<p>
                            <p class="fs-5 fw-bold">Reparación Particular de Equipos Electrónicos</p>
                            <p >Reparación de telefonia celular - tablets - notebooks - monitores</p>
                            </div>
                        </li>
                    </ul>                    
                </div>
            </div>          
        </article>
        <article class="card">
            <div class="row">
                <div class="col-3 card img-centrada">
                    <div>
                    <a href="www.restosoft.com.ar">
                        <img src="./assets/images/resto-foto.jpg" alt="restosoft" height="100">
                    </a>
                    </div>
                </div>
                <div class="col-9 card centrado">                    
                    <ul>
                        <li class="lista"> 
                            <p>Año 2017 - Actualidad</p>
                            <p class="fs-5 fw-bold">Restosoft</p>
                            <p>Servicio Técnico Integral <br> Reparacion de equipos informaticos <br> Reparacion de Impresoras termicas y Matriciales para Sistemas de Comanda
                            <br>Armado de redes y configuracion de redes LAN <br> Atencion a clientes personalizada</p>
                        </li>
                    </ul>                    
                </div>
            </div>          
        </article>
    </div>            
</div>      
