<div class="container card bg-light border-secondary" id="aptitudes">    
    <div><p class="col-3 fs-3 centrado">Aptitudes     <i class="bi bi-pencil-square fs-6" id="icon-edit-apt"></i></p></div>                  
    <article class="centrado">
        <div class="row">
            <div class="col-4 card"><p class="fs-5 centrado">Tecnicas</p></div>
            <div class="col-8 card centrado">                    
                <p class="fs-6 centrado"> {{dataAptitud[0].tecnica}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 card"><p class="fs-5 centrado">Profesionales</p></div>
            <div class="col-8 card centrado">                    
                <p class="fs-6 centrado"> {{dataAptitud[0].profesional}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 card"><p class="fs-5 centrado">Idiomas</p></div>
            <div class="col-8 card centrado">                    
                <p class="fs-6 centrado"> {{dataAptitud[0].idioma}} </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 card"><p class="fs-5 centrado">Otras</p></div>
            <div class="col-8 card centrado">                    
                <p class="fs-6 centrado"> {{dataAptitud[0].otra}} </p>
            </div>
        </div>

    </article>    
</div>