<div class="container" id="header" >
    <div class="row">
        <div class="col-6 justify-content-start">    
            <div>
                <div>
                    <img src="./assets/images/ArgProg.jpg" alt="ArgentinaPrograma" height="60px">
                    <img src="./assets/images/Inti.jpg" alt="INTI" height="60px">
                    <img src="./assets/images/MinDesProArg.jpg" alt="Ministerio_deDesarrolloyProduccion-Argentina" height="60px">
                </div>
                <p class="fs-6 ps-1 m-0">Argentina Programa - # Yo Programo</p>    
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div>
                <ul class="head p-2">
                    <div class="centrado">
                    <li style="padding-right: inherit;">
                        <div>
                        <ul id="social-links">
                            <li>
                                <a href="www.facebook.com">
                                    <button class="btn btn-primary" >Face</button>
                                </a>
                            </li>
                            <li>
                                <a href="www.instagram.com">
                                    <button class="btn btn-primary">Instagram</button>
                                </a>
                            </li>
                            <li>
                                <a href="www.linkedin.com">
                                    <button class="btn btn-primary">Linkedin</button>
                                </a>
                            </li>
                            <li>
                                <a href="www.github.com">
                                    <button class="btn btn-primary">Github</button>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                </div>
                    <div class="centrado">                        
                        <button class="btn btn-info" >LOGIN</button>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
