<div class="container" id="header" >
    <div class="row">
        <div class="col-6 justify-content-start">    
            <div>
                <div>
                    <img src="./assets/images/ArgProg.jpg" alt="ArgentinaPrograma" height="60px">
                    <img src="./assets/images/Inti.jpg" alt="INTI" height="60px">
                    <img src="./assets/images/MinDesProArg.jpg" alt="Ministerio_deDesarrolloyProduccion-Argentina" height="60px">
                </div>
                <p class="fs-6 ps-1 m-0">Argentina Programa - # Yo Programo</p>    
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <div class="centrado justify-content-end">                        
                <button class="btn btn-info" >LOGIN</button>
            </div>           
        </div>
    </div>
    <div class="row justify-content-end">
        <ul class="nav justify-content-end" style="margin-bottom: 1rem;">
            <li class="nav-item"><a class="btn nav-item active" href="#experiencia">EXPERIENCIA</a></li>
            <li class="nav-item"><a class="btn nav-item active" href="#estudios">ESTUDIOS</a></li>
            <li class="nav-item"><a class="btn nav-item active" href="#aptitudes">APTITUDES</a></li>
            <li class="nav-item"><a class="btn nav-item active" href="#proyectos">PROYECTOS</a></li>
        </ul>
        
    </div>
</div>
