<div>
    
    <div class="container" id="banner">
        <div class="row">        
        <div class="col-6 ">
            <img id="profile-img" src="./assets/images/pablo-img.jpg" alt="foto">
            <div><i class="fa-pen"></i></div>            
        </div>
    </div>

    </div>
    <div class="container" id="info-card">
        <div class="card">
            <div class="row">
                <article class="card bg-light border-secondary col-4">
                    <div>                           
                        <p class="fs-1 centrado">Pablo Pacci</p>                     
                        <div class="card" style="text-align: center; margin-bottom: 1rem;">
                            <ul class="fs-5 centrado" id="titles-list">
                                <li><p>Full Stack Developer Jr.</p></li>
                                <li><p>Técnico Electrónico</p></li>
                            </ul>
                        </div>
                    </div>  
                </article>
                <article class="card bg-light border-secondary col-8">
                    <div class="card centrado" id="data-ext" style="margin: 4%;">
                        <p class="fs-5 fw-bold lista">Acerca de:</p>
                        <ul class="fs-6 lista">
                            <li>Desarrollador Full Stack Jr.</li>
                            <li>Técnico Electrónico con capacidad de Diagramado y Desarrollo de circuitos</li>
                            <li>Técnico en reparacion de Equipos Informaticos</li>
                            <li>Estudiante de Ingeniería en Electrónica - 3er año en Curso</li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>  
</div> 